# Ignore compiled Python files
*.pyc

# Ignore virtual environment
venv/

# Ignore IDE files
.vscode/
.idea/

# Ignore logs
*.log

# Ignore package build directory
dist/

# Ignore cache and temporary files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment-specific files
.env
.env.*

logs/
logs_no_attn_loss
logs_*/
models/
*.sh
*.txt
outputs/
configs/
*.sh
*.bash